name: GoCheck
on: [push]
jobs:
  checks:
    name: run
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: run and test
        uses: cedrickring/golang-action@1.3.0
        env:
          GO111MODULE: "on"
